.game-container {
    display: flex;
}

.game-container .enemy-ships {
    margin-left: 50px;
}

.shoot-button {
    margin-top: 30px;
}

.field-cell {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 5px;
}